.container {
    display: block;
    width: 65%;
    margin: 15px auto;
    padding: 5px auto;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.3em;
}
code {
    background: rgba(184, 184, 184, 0.404);
    padding: 0.15em 0.3em;
    border-radius: 5px;
}

#app {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}

input {
    display: block;
    width: 95%;
    height: 1.65em;
    font-size: 1.1em;
    font-family: monospace;
    margin: 2em 0.5em auto;
    padding: 2px 0.3em;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin: 10px 0 45px;
    padding: 5px 0;
}

table td, table th {
border: 1px solid #ddd;
padding: 8px;
}

table tr:nth-child(even){background-color: #f8f8f898;}

table tr:hover {background-color: rgba(233, 233, 233, 0.692);}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(93, 93, 93);
    color: white;
}
.page-lnk {
    display: inline-block;
    font-size: 0.8em;
    margin: 0.2em 0.25em;
    padding: 0.05em 0.15em;
    border-radius: 0.3em;
    text-decoration: none;
    background: rgba(255, 192, 192, 0.24);
    color: rgb(255, 67, 98);
}
.page-lnk:hover {
    text-decoration: underline;
    background: white;
}
.page-lnk:visited {
    color: rgb(255, 67, 98);
}

.scroll {
    display: block;
    width: 35px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0.2%;
    bottom: 1%;
}
.scroll button {
    background: black;
    border: none;
    border-radius: 0.3em;
    color: white;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin: 0.1em;
    padding: 0;
}
.scroll button:hover {
    background: rgba(0, 0, 0, 0.808);
}

.result-num {
    position: fixed;
    left: 0.5%;
    bottom: 1%;
    font-size: 0.8em;
    color:rgb(255, 67, 98);
}
.result-num::before {
    content: "筆數: ";
    color: rgba(82, 82, 82, 0.904);
    font-size: 0.85em;
}
.last-updated {
    position: fixed;
    right: 0.5%;
    top: 1%;
    font-size: 0.65em;
    color: rgb(58, 58, 58);
}
.last-updated::before {
    content: "上次更新: ";
    color: rgba(82, 82, 82, 0.904);
    font-size: 0.85em;
}

html {
    scroll-behavior: smooth;
}



@media screen and (max-width: 600px) {
    .body {
        width: 100%;
    }
    .container {
        display: block;
        width: 95%;
        margin: 0 auto;
        padding: 0 auto;
    }
}